<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>
            <form action='/logisManagement' method='GET'>
                <button type='submit'>
                    출고 요청
                </button>
            </form>
            <form action='/logisManagement' method='GET'>
                <button type='submit'>
                    견적서 관리
                </button>
            </form>
            <form action='/logisManagement' method='GET'>
                <button type='submit'>
                    금일 입고
                </button>
            </form>
            <form action='/logisManagement' method='GET'>
                <button type='submit'>
                    금일 출고
                </button>
            </form>
            <form action='/logisManagement' method='GET'>
                <button type='submit'>
                    과부족 이력
                </button>
            </form>
            <form action='/logisManagement' method='GET'>
                <button type='submit'>
                    기간별 재고 현황 조회
                </button>
            </form>
            <form action='/logisManagement' method='GET'>
                <button type='submit'>
                   상품관리
                </button>
            </form>
        </header>
        <section>
            <div>

            </div>
        </section>
        <footer>

        </footer>
    </body>
    <script>

    </script>
</html>