<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>
            
        </header>
        <section>
            <div>
                <li><a href='/requestLogis'>출고 요청</a></li>
                <li><a href='/'>금일 입고</a></li>
                <li><a href='/'>금일 출고</a></li>
                <li><a href='/'>과부족 이력</a></li>
                <li><a href='/'>기간별 재고 조회</a></li>
                <li><a href='/'>상품 관리</a></li>
                <li><a href='/'>견적서 관리</a></li>
            </div>
        </section>
        <footer>

        </footer>
    </body>
    <script>

    </script>
</html>