<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>
            <form action='/logisManagement' method='GET'>
                <button type='submit'>
                    재고 관리
                </button>
            </form>
            
            <button>
                재고 조회
            </button>
        </header>
        <section>
            <div>

            </div>
        </section>
        <footer>

        </footer>
    </body>
    <script>

    </script>
</html>