<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</head>

<body>
    날짜 :
    <select id="start_year" name="start_year">
    </select>
    <select id="start_month" name="start_month">
    </select>
    <select id="start_day" name="start_day">
    </select> ~
    <select id="end_year" name="end_year">
    </select>
    <select id="end_month" name="end_month">
    </select>
    <select id="end_day" name="end_day">
    </select>

    <input type='button' id='periodBtn' value='조회' onclick='getPeriod()'>
</body>
<script src='/javascripts/period.js'></script>
<script>

    getPeriod = async () => {
        var startYear = $('#start_year option:selected').val();
        var startMonth = $('#start_month option:selected').val();
        var startDay = $('#start_day option:selected').val();
        var endYear = $('#end_year option:selected').val();
        var endMonth = $('#end_month option:selected').val();
        var endDay = $('#end_day option:selected').val();
        try {
            const response = await fetch('http://localhost:3000/getPeriodData', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body : JSON.stringify({ startYear: startYear, startMonth: startMonth, startDay: startDay, endYear: endYear, endMonth: endMonth, endDay: endDay })
            });

            var json = await response.json();
            console.log(json)
            if (response.ok) {

            }
        } catch (err) {
            console.log(err)
        }
    }
</script>

</html>