<!DOCTYPE html>
<html>
    <head>
        <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Dr.MEI Logistics</h1>
        <div>닥터 메이 제품 출고 요청 페이지 입니다</div>
        요청자 : <input type='text' name='incharge' id='incharge'>
        전화번호 : <input type='text' name='cphone' id='cphone'>
        출고일자 : <input type='text' name='deliverydate' id='deliverydate'>
        출고방법 : <input type='radio' name='deliveryway' value='직접수령'> <input type='radio' name='deliveryway' value='택배'>
        <br>
        <br>
        실구매자 : <input type='text' name='orderer' id='orderer'>
        전화번호 : <input type='text' name='ophone' id='ophone'>
        업체명 : <input type='text' name='companyname' id='companyname'>
        주소 : <input type='text' name='address' id='address'>
        <p>
            <button type='button' id='addBtn' name='addBtn' onClick='addOrderList()'>상품 추가</button>
            <button type='button' id='deleteBtn' name='deleteBtn' onClick='deleteOrderList()'>상품 제거</button>
        </p>
        <div>
            <table width='600px'>
                <tr>
                    <td>No.</td>
                    <td>제품명</td>
                    <td>용량</td>
                    <td>수량</td>
                    <td>금액</td>
                    <td>비고</td>
                </tr>
                <tbody id='tblShow'>

                </tbody>
            </table>
        </div>
        <p>
            <button type='button' id='requestBtn' name='requestBtn' onClick='requestItems()'>발주 요청</button>
            </p>
    </body>
    <script>
        addOrderList = () => {
            var objRow;
            objRow = document.all('tblShow').insertRow();

            //No.
            var objCell_Num = objRow.insertCell();
            objCell_Num.innerHTML = "<input type='text' id='row_num' name='row_num' value=''/>";

            //Product Name
            var objCell_Nm = objRow.insertCell();
            objCell_Nm.innerHTML = "<input type='text' id='row_nm' name='row_nm' value=''/>";

            //Product Capacity(Volume)
            var objCell_Cp = objRow.insertCell();
            objCell_Cp.innerHTML = "<input type='text' id='row_cp' name='row_cp' value=''/>";

            //Ordered Product Count
            var objCell_Cnt = objRow.insertCell();
            objCell_Cnt.innerHTML = "<input type='text' id='row_cnt' name='row_cnt' value=''/>";

            //Price
            var objCell_Price= objRow.insertCell();
            objCell_Price.innerHTML = "<input type='text' id='row_price' name='row_price' value=''/>";

            //Note
            var objCell_Void = objRow.insertCell();
            objCell_Void.innerHTML = "<input type='text' id='row_num' name='row_num' value=''/>";
        }

        requestItems = async () => {
            try {
                var tblContent = document.getElementById('tblShow');
                var tblData = tblContent.childNodes;
                var array = new Array();
                
                if (tblContent.rows.length == 0) {
                    window.alert('주문을 요청할 상품을 기록해주세요')
                } else {
                    for (var i = 1; i < tblData.length; i++) {
                        var cellNum = tblData[i].cells[0].getElementsByTagName('input')[0].value;
                        var cellNm = tblData[i].cells[1].getElementsByTagName('input')[0].value;
                        var cellCp = tblData[i].cells[2].getElementsByTagName('input')[0].value;
                        var cellCnt = tblData[i].cells[3].getElementsByTagName('input')[0].value;
                        var cellPrice = tblData[i].cells[4].getElementsByTagName('input')[0].value;
                        var cellVoid = tblData[i].cells[5].getElementsByTagName('input')[0].value;
                        array.push({cellNum : cellNum, cellNm : cellNm, cellCp : cellCp, cellCnt : cellCnt, cellPrice : cellPrice, cellVoid : cellVoid})
                    }

                    const response = await fetch('http://localhost:3000/putRequestToDB', {
                        method: 'POST',
                        headers : {
                        'Content-Type' : 'application/json',
                        },
                        body : JSON.stringify({data : array})
                    })
                    
                    if (response.ok) {
                        window.alert('주문이 요청되었습니다')
                        location.reload();
                    }
                }
            } catch (err) {
                window.alert('Err!!')
            }
        }

        deleteOrderList = () => {
            var tblContent = document.getElementById('tblShow');
            //If There is no Data at all, Do Nothing.
            if (tblContent.rows.length < 1) return;

            //Delete From Last Table
            tblContent.deleteRow(tblContent.rows.length-1);
        }
    </script>        
</html>