<!DOCTYPE html>
<html>
    <head>
        <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>금일 입고 제품을 기입해주세요</h1>
        
        <div>
                입고 일자 : <div id='date'></div>
            </p>
            <p>
                품목 : <input type='button' id='item' name='item' value='상품 조회' onclick='openItemSearchBox(this)'>
                <div id='item_nm'></div>
            </p>
            <p>
                수량 : <input type='text' id='item_cnt' name='item_cnt' value=''>
            </p>
            <p>
                금액 : <input type='text' id='item_price' name='item_price' value=''>
            </p>
            <p>
                요청자 : <input type='text' id='item_rt' name='item_rt' value=''>
            </p>
            <p>
                구분 : 
                반품<input type='radio' id='item_dnt1' name='item_dnt' value='반품' checked>
                본사<input type='radio' id='item_dnt2' name='item_dnt' value='본사'>
                기타<input type='radio' id='item_dnt3' name='item_dnt' value='기타'>
            </p>
            <p>
                결제수단 : 
                현금<input type='radio' id='item_pmt1' name='item_pmt' value='현금' checked>
                카드<input type='radio' id='item_pmt2' name='item_pmt' value='카드'>
                외상<input type='radio' id='item_pmt3' name='item_pmt' value='외상'>
            </p>
            <p>
                공급자 :
                <input type='text' id='item_sup' name='item_sup' value=''>
            </p>
            <p>
                비고 :
                <input type='text' id='item_void' name='item_void' value=''>
            </p>
        </div>
        <div>
            <p>
                <button type='button' id='addBtn' name='addBtn' onclick='addOrderList()'>상품 추가</button>
                <button type='button' id='deleteBtn' name='deleteBtn' onclick='deleteOrderList()'>상품 제거</button>
            </p>
        </div>
        <div>
            <table width='1500px'>
                <tr>
                    <td>No.</td>
                    <td>품목</td>
                    <td>용량</td>
                    <td>수량</td>
                    <td>금액</td>
                    <td>요청자</td>
                    <td>구분</td>
                    <td>결제수단</td>
                    <td>반품자</td>
                    <td>비고</td>
                </tr>
                <tbody id='tblShow'>

                </tbody>
            </table>
        </div>
        <p>
            <button type='button' id='requestBtn' name='requestBtn' onclick='putSupplyList()'>입고</button>
        </p>
        <hr>
        <p>
            입고 제품 리스트
        </p>

        <!-- The Modal -->
    <div id="searchBox" class="modal">

        <!-- Modal content -->
        <div class="searchBox-content">
        <span class="close">&times;</span>
        <p>
            <input type='text' id='searchitem' name='searchitem'>
            <button id='requestItemListBtn' onclick='requestItemList()'>조회</button>
        </p>
    </div>
  
  </div>
    </body>
    <script>
        var count = 0;
        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        var today = year + '/' + month + '/' + day;

        var date = document.getElementById('date');
        date.innerHTML = today;

        addOrderList = () => {
            count++;
            var row_nm = document.getElementById('item_nm').getAttribute('value');
            console.log(row_nm)
            var row_cnt = document.getElementById('item_cnt').value;
            var row_price = document.getElementById('item_price').value;
            var row_rt = document.getElementById('item_rt').value;
            var row_dnt = $('input[name="item_dnt"]:checked').val();
            var row_pmt = $('input[name="item_pmt"]:checked').val();
            var row_sup = document.getElementById('item_sup').value;
            var row_void = document.getElementById('item_void').value;

            var objRow;
            objRow = document.all('tblShow').insertRow();

            //No.
            var objCell_Num = objRow.insertCell();
            objCell_Num.innerHTML = count;

            //Product Name
            var objCell_Name = objRow.insertCell();
            objCell_Name.innerHTML = row_nm;

            //Product Capacity(Volume)
            var objCell_Cp = objRow.insertCell();
            objCell_Cp.innerHTML = null;

            //Product Count
            var objCell_Cnt= objRow.insertCell();
            objCell_Cnt.innerHTML = row_cnt;
            
            //Price
            var objCell_Price= objRow.insertCell();
            objCell_Price.innerHTML = row_price;

            //Requestor
            var objCell_Rt= objRow.insertCell();
            objCell_Rt.innerHTML = row_rt;

            //Supply Purpose (Distinct)
            var objCell_Dnt = objRow.insertCell();
            objCell_Dnt.innerHTML = row_dnt;

            //Payment
            var objCell_Pmt = objRow.insertCell();
            objCell_Pmt.innerHTML = row_pmt;

            //Supplier
            var objCell_Sup = objRow.insertCell();
            objCell_Sup.innerHTML = row_sup;

            //Note
            var objCell_Void = objRow.insertCell();
            objCell_Void.innerHTML = row_void;
        }
        deleteOrderList = () => {
            count--;
            var tblContent = document.getElementById('tblShow');
            //If There is no Data at all, Do Nothing.
            if (tblContent.rows.length < 1) return;

            //Delete From Last Table
            tblContent.deleteRow(tblContent.rows.length-1);
        }


        requestItemList = async () => {
            var searchItem = document.getElementById('searchitem').value;
            var item_nm = document.getElementById('item_nm')
            const response = await fetch ('http://localhost:3000/requestItemList', {
                method: 'POST',
                headers : {
                    'Content-Type': 'application/json'
                },
                body : JSON.stringify({ searchItem })
            })
            
            var json = await response.json();
            console.log('json', json[0])
            if (response.ok) {
                var newDiv = document.createElement('div');
                item_nm.setAttribute('value', json[0])
                item_nm.innerHTML = json[0]
            }
        }

        putSupplyList = async () => {
            try {
                var tblContent = document.getElementById('tblShow');
                var tblData = tblContent.childNodes;
                var array = new Array();
                console.log(tblData)
                if (tblContent.rows.length == 0) {
                    window.alert('주문을 요청할 상품을 기록해주세요')
                } else {
                    for (var i = 1; i < tblData.length; i++) {
                        console.log(tblData[i].cells[1].getElementsByTagName('input'))
                        var cellNm = tblData[i].cells[1].getElementsByTagName('input')[0].value;
                        var cellCp = tblData[i].cells[2].getElementsByTagName('input')[0].value;
                        var cellCnt = tblData[i].cells[3].getElementsByTagName('input')[0].value;
                        var cellPrice = tblData[i].cells[4].getElementsByTagName('input')[0].value;
                        var cellVoid = tblData[i].cells[5].getElementsByTagName('input')[0].value;
                        array.push({cellNum : cellNum, cellNm : cellNm, cellCp : cellCp, cellCnt : cellCnt, cellPrice : cellPrice, cellVoid : cellVoid})
                    }

                    const response = await fetch('http://localhost:3000/putRequestToDB', {
                        method: 'POST',
                        headers : {
                        'Content-Type' : 'application/json',
                        },
                        body : JSON.stringify({data : array})
                    })
                    
                    if (response.ok) {
                        window.alert('주문이 요청되었습니다')
                        location.reload();
                    }
                }
            } catch (err) {
                window.alert('Err!!')
            }
        }

        //From Here Search Box Related Functions!!
        var modal = document.getElementById("searchBox");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        openItemSearchBox = (data) => {
            modal.style.display = "block";
        }

        //Pre-Supplied Product List Request
        $(document).ready( async () => {
            try {
                const response  = await fetch ('http://localhost:3000/requestPreSuppliedList', {
                    method : 'GET',
                    headers : {
                        'Content-Type': 'application/json'
                    }
                })
                var json = await response.json();
                if (response.ok) {

                }
            } catch (err) {
                window.alert('Warning!!')
            }
        })
        
    </script>
    <style>
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f6f6f6;
            min-width: 230px;
            overflow: auto;
            border: 1px solid #ddd;
            z-index: 1;
        }
        .show {
            display: block;
        }
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .searchBox-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</html>